# Python cache
__pycache__/
*.py[cod]

# Google Docs files
*.gdsheet
*.gddoc

# Library backups
*.l#*
*.l$*

# Schematic backups
*.s#*

# Board backups
*.b#*
*.b$*

# IntelliJ configuration
.idea/*

# Zipped gerber files
eagle/gerber/*/*.zip

# PlatformIO build files
/arduino/CMakeLists.txt
/arduino/CMakeListsPrivate.txt

# CLion files
.idea/
cmake-build-debug/
